

 body{
  font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
background:black;
 }

header{
display: flex;
margin-bottom: 150px;
}
.dream-big{
background-repeat: no-repeat;
background-position: right;

}
.half-width{
  /* margin-top: 100; */
  width: 50%;
  padding-left: 2%;
  background-color: black;
  color: aliceblue;
}
.half-width img{
  width: 80%;
}
.part{
  padding-top: 30%;
  color: coral;
}
.cart-part{
  
background-color: rgb(44, 40, 40);
  
}
.select-word{
  background-color: black;
  
  margin-top: 5px;
  padding: 20px;
  line-height: 2;
}
.card-body{
  background-color:black;
  color:white
}
.card-title{
  color: white;
}
.card-text{
  color: white;
}

.Player-Expenses{
  color: white;
}
.Total-part{
  color: white;
}
.dolar-part{
  color: white;
}
.copi-right{
  text-align: center;
  color: white;
  margin-top: 20px;
  padding-top: 200px;
}



